<div ng-controller="ChatController as ctrl" >
        <apostas-mensagem valor="ctrl.mensagem"></apostas-mensagem>
        <div class="page-header">
  			<h3>Usuario {{ctrl.usuarioId}}</h3>
		</div>
        <form role="form" name="aposta-form" ng-submit="ctrl.buscar()">



                <div class="form-group col-md-12" >

            		<div class="jumbotron"> 
            			<div class="media"> 
        					<div class="media-left"> 
        						<a href="#"> <img alt="64x64" class="media-object" src="http://img1.ak.crunchyroll.com/i/spire3/92e41d9a6ab441fca62349e9ce3556751349745663_full.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a> 
        					</div> 
	            			<div class="media-body"> 
		            			<h4 class="media-heading">Usuario {{ctrl.usuarioId}}</h4> 

		            			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
		            		</div> 
	            		</div>

            			<div class="media"> 
            				<div class="media-body"> 
            					<h4 class="media-heading">Admin</h4> 

            					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. 
            				</div> 
            				<div class="media-right"> 
            					<a href="#"> <img alt="64x64" class="media-object" src="http://img1.ak.crunchyroll.com/i/spire2/1e42c20d54858811861242fd965f93581349745944_full.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a> 
            				</div> 
            			</div>
            		</div> 



                	<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Mensagem:</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="ctrl.form.mensagem">
					  <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="ctrl.enviarMensagem()">Enviar!</button>
				      </span>
					</div>
                </div>
        </form>
</div>